.adder {
    display: flex;
    /* TODO change variables to add light, dark */
    background: light-dark(white, var(--gray-7));
    border-radius: 1rem;
    padding: 12px 16px;
    justify-content: space-between;
}

.adder input {
    background: transparent;
    outline: none;
    border: none;
    font: inherit;
    flex-grow: 1;
    font-size: 14px;
}

.adder input::placeholder {
    color: var(--gray-4);
}


.adder-action-bar {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}
