.adder {
    display: flex;
    background: light-dark(white, var(--gray-7));
    border-radius: 1rem;
    padding: 12px 16px;
    justify-content: space-between;
}

.adder-action-bar {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}
